@font-face {
    font-family:"Avenir-Medium";
    src: url("fonts/Avenir-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family:"Avenir-Light";
    src: url("fonts/Avenir-Light.ttf") format("truetype");
  }

body {
    /* background: grey !important; */
    background: #fff;
    font-family: Avenir-Medium;
}

.h6 {
    font-weight: bold !important;
}

#navbar-container {
    /* background: grey !important; */
    background: #fff;
}

#menu-toggle {
    cursor: pointer;
}

#user {
    border-radius: 100%;
}

.toggle {
    display: none;
}

.navbar-nav {
    position: absolute;
    top: 0;
    right: 0;
}

#info-container-1 {
    padding-top: 50px;
}

#first-info-col-a {
    background: #FAFAFA;
    padding: 40px;
    -webkit-box-shadow: 0 0 8px #e3dede;
    box-shadow: 0 0 8px #e3dede;
}

#first-info-col-b {
    padding: 40px;
}

#second-info-col {
    background: #fff;
    padding: 50px;
}

#trial-btn {
    width: 165px;
}

.btn-primary {
    background: #fff !important;
    color: #EE572A !important;
    border: 1px solid #EE572A  !important;
}

.btn-primary:hover {
    background: #EE572A !important;
    color: #fff !important;
}

.active-btn {
    background: #EE572A !important;
    color: #fff !important;
}

hr {
    padding-top: 10px !important;
    margin-top: 30px !important;
}

button {
    font-size: 14px !important;
    font-weight: bold !important;
}

.button-progress {
    width: 200px;
}

.button-progress:hover {
    background: #fff !important;
    color: #EE572A !important;
    border: 1px solid #EE572A  !important;
}

.active-btn:hover {
    background: #EE572A !important;
    color: #fff !important;
}

.num {
    color: #F0571B !important;
    padding: 10px;
}

.num-paragraph {
    font-family: Avenir-Light !important;
    color: #8F8F8F;
    font-size: 14px ;
    font-weight: 700;
}

.light-paragraph {
    font-family: Avenir-Light !important;
    color: #8F8F8F;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}

.journey-row-1 {
    margin-left: 300px;
}

@media (min-width: 320px) {

    #menu-toggle {
        margin-top: -5px;
    }

    #logo { 
        width: 80px;
    }

    #trial {
        width: 60px;
    }

    .another-trial-image {
        width: 80px;
    }

    .another-trial-p {
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 20px;
    }

    #bootcamp {
        display: none;
    }

    #support {
        color: #000;
        display: inline;
        font-size: 11px;
        margin-left: 5px;
        font-weight: bold;
    }

    #user {
        width: 12px;
    }

    #profile {
        font-size: 10px;
        font-weight: bold;
    }
    
    .toggle {
        font-size: 10px !important;
        font-weight: bold !important;
    }

    #trial-header { 
        font-size: 15px;
        font-weight: 500;
    }

    #progress-header {
        font-size: 15px;
        font-weight: bold;
    }

    #progress-amount {
        font-size: 15px;
        font-weight: 500;
    }
    
}

@media (min-width: 375px) {
    .another-trial-p {
        margin-left: -10px;
    }

    .another-trial-image {
        margin-bottom: 10px;
    }
}

@media (min-width: 425px) {

    #logo { 
        width: 100px;
    }

    #support {
        font-size: 14px;
        margin-left: 20px;
    }

    #user {
        width: 21px;
    }

    #profile {
        font-size: 14px;
    }
    .toggle {
        font-size: 14px !important;
    }

    .another-trial-p {
        margin-left: 40px;
    }
    
}

@media (min-width: 576px) {
    .another-trial-p {
        margin-top: 0;
    }
}

@media (min-width: 576px) and (max-width: 1023px) {
    .col-sm-8 {
        width: 80% !important;
    }

    .col-sm-4 {
        width: 80% !important;
    }
    
    .trial-col {
        width: 50% !important;
    }
}

@media (min-width: 768px) {

    #menu-toggle {
        margin-top: -10px;
    }

    #logo { 
        width: 160px;
    }

    #support {
        display: none;
    }


    #bootcamp {
        display: inline;
        color: #F0571B;
        font-size: 18px;
        font-weight: bold;
        margin-left: 20px;
    }

    #progress-header {
        font-size: 16px;
    }
    
    #progress-amount {
        font-size: 16px;
    }

    #trial-header {
        font-size: 20px;
    }

    .another-trial-p {
        font-size: 12px;
        margin-left: -20px;
        margin-top: 15px;
    }

    .another-trial-p {
        margin-left: -20px;
        margin-top: 5px;
    }

}

@media (min-width: 1024px) {

    #logo { 
        width: 160px;
    }

    #trial {
        width: 90px;
    }

    #bootcamp {
        font-size: 18px;
        margin-left: 20px;
    }

    #second-info-col {
        margin-top: -20px;
    }

    .another-trial-p {
        margin-left: -40px;
        margin-top: 5px;
    }
}

@media (min-width: 1200px) {

    .another-trial-p {
        margin-left: -70px;
        margin-top: 15px;
    }
    
}

@media (min-width: 1600px) {
    .another-trial-p {
        margin-left: -100px;
    }
}