body {
    background: grey !important;
}

#navbar-container {
    background: grey;
}
#info-container-1 {
    padding-top: 50px;
}

#first-info-col {
    background: #FAFAFA;
    padding: 40px;
}

#second-info-col {
    background: grey;
    padding: 50px;
}

.btn-primary {
    background: #fff !important;
    color: #EE572A !important;
    border: 1px solid #EE572A  !important;
}

.btn-primary:hover {
    background: #EE572A !important;
    color: #fff !important;
}

hr {
    padding-top: 10px !important;
    margin-top: 30px !important;
}

button {
    font-size: 14px !important;
    width: 180px;
}

@media (min-width: 320px) {
    #logo { 
        width: 120px;
    }

    #trial {
        width: 80px;
    }

    #bootcamp {
        display: none;
    }

    #support {
        color: #000;
        display: inline;
    }
    
}

@media (min-width: 375px) {
}

@media (min-width: 425px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {

    #logo { 
        width: 160px;
    }

    #trial {
        width: 100px;
    }

    #support {
        display: none;
    }

    #bootcamp {
        color: #F0571B;
        display: inline;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1600px) {
}